<div class="container">
  <h1>CONVERSACION</h1>
  <div class="container">
    <div *ngIf="mensajeUsuario1?.length">
      <h1>Mensajes de Usuario 1:</h1>
      <div *ngFor="let mensaje of mensajeUsuario1">{{ mensaje }}</div>
    </div>
    <div *ngIf="mensajeUsuario2?.length">
      <h1>Mensajes de Usuario 2:</h1>
      <div *ngFor="let mensaje of mensajeUsuario2">{{ mensaje }}</div>
    </div>
  </div>
  
  <app-mensaje-usuario [nombreUsuario]="Pepe" (mensajeEnviado)="manejarMensajeUsuario1($event)"></app-mensaje-usuario>

  <app-mensaje-usuario [nombreUsuario]="Maria" (mensajeEnviado)="manejarMensajeUsuario2($event)"></app-mensaje-usuario>

</div>
